ion-content {
  --background: linear-gradient(0deg, rgba(0,0,0,0.7),  rgba(0,0,0,0.1)),
  url("/assets/background.jpg") no-repeat center center / cover;
  text-align: justify-all;

}
ion-card {
  background-color: none;
}
.div{
  background-color: none;
}


