ion-content {
  --background: linear-gradient(0deg, rgb(180, 220, 253),  rgba(9, 6, 150, 0.1)),
  url("/assets/background.jpg") no-repeat center center / cover;
  --text-justify: auto;
  --text-size-adjust: auto;
  color:rgb(255, 255, 255);
}
.div{
  color: rgb(2, 9, 105);;}
